numpy==1.23.1
numpydoc==1.1.0
matplotlib==3.4.3
keras==2.7.0
d2l==0.10.3
Keras-Preprocessing==1.1.2
kernel-run==0.0.13
streamlit==1.11.0
streamlit-webrtc==0.42.0
tensorflow==2.7.0
tensorflow-estimator==2.7.0
tensorflow-io-gcs-filesystem==0.23.1
opencv-contrib-python==4.5.4.58
opencv-python==4.5.4.58